<%= session[:player_name] %>, you have lost, would you like to start a new game?
<p><form id="hit" action = "/start" method = "get>
  		<input type="submit" class="btn btn-success" value = "Play again?">
  	</form>